<h2>customer-details</h2>

<div class="col">
    <div class="row">
        CustomerId: {{customer.id}}<br/>
    </div>
    <div class="row">
        CustomerName: {{customer.cname}}<br/>
    </div>
    <div class="row">
        Customer Address: {{customer.address}}<br/>
    </div>
    <div class="row">
        Booking Days: {{customer.bookingdays}}<br/>
    </div>
    <div class="row">
        CheckIn Date: {{customer.checkin}}<br/>
    </div>
    <div class="row">
        Customer Email: {{customer.email}}<br/>
    </div>
    <div class="row">
        Customer Phone Number: {{customer.phone}}<br/>
    </div>
    <div class="row">
        Room Number: {{customer.roomno}}<br/>
    </div>
    <div class="row">
        Total People: {{customer.totalPersons}}<br/>
    </div>
    <div class="row">
        Price: {{customer.advance}}<br/>
    </div>

</div>

